* { 
    box-sizing: border-box;
    }

/*base elements*/

body{
    font-family: 'Merriweather', serif;
}

h1{
    text-align: center;
    background: rgb(61, 62, 63);
    color:white;
    padding: 20px;
    margin: 0;
    font-family: 'Merriweather', serif;
    font-size: 1.5em;
    text-transform: uppercase;
}

h2,
p{
    text-align: center;
}

h2{
    color: rgb(42, 44, 46);
    font-size: 1.2em;
    padding: 10px;
}

p{
    color: grey;
    padding-bottom: 25px;
}


/*contact information items*/
legend{
    text-align: left;
}

fieldset{
    border: none;
    width: 80%;
}

input,
select{
    background-color: rgb(226, 222, 222);
    border: none;
    width:100%;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 20px;
}

input{
margin-top:10px;

}
.container{
    display:flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-flow: nowrap;
    width: 100%;
    flex-direction: column;
    border: none;
}

label{
    align-items: flex-start;
    flex-grow: 1;
    padding-bottom: 10px;
    padding-top: 10px;
    color: rgb(189, 188, 188);
}

input:focus{
    outline: 1px solid rgb(14, 14, 124);
    color: black;
    border-radius: 5px;
}

.contact,
.news{
    font-weight: bold;
    justify-content: left;
    padding-bottom: 10px;
    font-size: 1.2em;
    padding-left: 1px;
    margin-top: 20px;
}

.top{
    height:14px;
    border-top:6px solid rgb(61, 62, 63);
    border-bottom:3px solid rgb(61, 62, 63);
    margin-bottom: 30px;
}

.bottom{
    border-top:3px solid rgb(61, 62, 63);
    margin-bottom: 30px;
}

::placeholder{
    text-align: right;
    font-style: italic;
    color: rgb(180, 174, 174);
    padding-right: 20px;
    font-size: 1em;
}

input[name="user-zip-code"]{
    max-width: 50%;
    margin-right:80px;
    }
.flex{
    flex-direction: row;
    margin:5px;
}
/*newsletter*/

.newsletter-p{
    text-align: left;
    padding-bottom: 10px;
    margin-top: 20px;
}

.newsletter-p3{
    text-align: left;
    font-size: .92em;
    padding-bottom:3px;
}

.copy{
    font-size: .8em;
}

.inline-field{
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    vertical-align: middle;
}

input[type="radio"],
input[type="checkbox"]{
    width:10%;
    margin:8px;
}

.flex_box{
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 14px;
}


label [name="html-news"]{
    margin-left: 100px;
    padding-left: 100px;
}

textarea{
    width: 100%;
    height: 90px;
    background-color: rgb(226, 222, 222);
    border:none;
    margin-bottom: 20px;
}

button{
    color: white;
    background-color: rgb(109, 192, 192);
    width: 100%;
    border: none;
    border-radius: 3%;
    height: 20px;
    font-size: 1em;
    text-align: center;
    line-height: 5px;
    padding-top:20px;
    padding-bottom: 30px;
}



@media screen and (min-width: 768px) {
    
        h1{
            max-width: 768px;
        }


        form,
        hr{
            width: 500px;
            justify-content: center;
        }

        .bottom{
            margin-left: 115px;
        }

        .container{
            display:flex;
            flex-wrap: wrap;
            flex-grow: 2;
            justify-content: center;
            margin-left:115px;
            margin-right: 115px;
            min-width: 0 auto;
        }

       .flex{
        flex-wrap:nowrap;
        flex-grow: 1;
        min-width: 100%;
        display:flex;
       }

       
        input[type="text"]{
            max-width: 100%;
            flex-flow: row;
            flex-wrap: nowrap;
            width: 70%;
        }

        input[name="user-zip-code"]{
            max-width: 52.5%;
        }

        label[for="zip-code"]{
            margin-right: 50px;
        }

        input[name="user-state"]{
            max-width: 50%;
            padding-right:80px;
        }

        label[for="state"]{
            padding-right:104px;
        }





       

}
